{% load i18n %}
{% autoescape off %} 
{% blocktranslate %}Та {{ site_name }} веб сайт дээрх өөрийн нууц үгийг сэргээх хүсэлт гаргасан тул бид тан руу энэхүү зурвасыг илгээж байна. {% endblocktranslate %} 

{% translate "Доорх хаягаар орж шинээр нууц үгээ тохируулна уу:" %} 

{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} {% endblock %} 

{% translate 'Таны нэвтрэх нэр буюу утасны дугаар:' %} {{ user.get_username }} 

{% translate "Манайхыг сонгон үйлчлүүлсэн танд баярлалаа." %} 
{% blocktranslate %}DSEABI эм ханган нийлүүлэх компани{% endblocktranslate %} 
{%endautoescape %}